<%-include('header')%>
        <body>
           <div class="flex-container">
               <div class="img-logo"></div>
                <div class="flex-form-container">
                    <form action="/cotacao" method="get">
                        <div class="input-group">
                            <div class="title">Quantos Reais quer comprar?</div>
                            cotação: <input type="text" name="cotacao" value="<%-cotacao%>">
                            Digite um valor em Dolar:  <input type="text" name="quantidade">
                            <button>Converter para Reais</button>
                         </div>
                    </form>               
                    
                </div>
           </div>
<%-include('footer')%>