<%-include('header')%>
        <body>
           <div class="flex-container">
               <div class="img-logo"></div>
                <div class="flex-form-container">
                    <form action="/cotacao" method="get">
                        <div class="input-group">
                            <div class="title">Confira a cotação</div>
                            cotação: <input type="text" name="cotacao">
                            Digite um valor:  <input type="text" name="quantidade">
                            <button>Converter</button>
                         </div>
                    </form>               
                    
                </div>
           </div>
<%-include('footer')%>